*{
    font-family: 'Roboto', sans-serif;
}
.body__wrapper{
    width: 100%;
}
.container{
    max-width: 1040px;
    margin: 0 auto;
}
.subtitle{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #063796;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    height: 60px;
}
.button:hover{
    background-color: #fff;
    color: #063796;
    border: 1px solid #063796;
    transition: 0.4s;
}
.title{
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    color: #063796;
}
.subtitle{
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #D1D1D1;
}


/* Шапка */
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}
.header__list{
    display: flex;
    gap: 50px;
}
.header__item{
    padding: 5px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.header__item a{
    color: #063796;
}
.header__item:hover, .header__item-active{
    margin: 0px -1px -1px 0px;
    border-right: 1px solid #063796;
    border-bottom: 1px solid #063796;
}


/* Главный блок */
.main__container{
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
}
.main__title{
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    color: #063796;
}
.main__subtitle{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ABABAB;
    margin-top: 10px;
}
.main__text{
    max-width: 550px;
}
.main__list{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #ABABAB;
}
.main__slogan{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #545454;
}
.main__button{
    margin-top: 30px;
    width: 350px;
}
.main__image{
    margin-right: 30px;
    width: 367px;
    height: 391px;
    position: relative;
}
.main__image::after{
    content: "";
    width: 367px;
    height: 391px;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: -1;
    border: 2px solid #063796;
}


/* Для кого*/
.number{
    background-color: #EDF6FF;
}
.number__container{
    padding: 70px 0px;
}
.number__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #777777;
    margin-bottom: 30px;
}
.number__list{
    display: flex;
    gap: 65px;
}
.number__item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.number__number{
    position: relative;
    font-weight: 900;
    font-size: 47.4353px;
    line-height: 56px;
    color: transparent;
    -webkit-text-stroke: 2px #777777;
    z-index: 1;
}
.number__number::after{
    content: "";
    width: 44px;
    height: 44px;
    background-color: #D9E2EB;
    position: absolute;
    top: -1px;
    left: -8px;
    z-index: -1;
}
.number__text{
    font-size: 16px;
    line-height: 19px;
    color: #777777;
}


/* Блок о нас */
.about__container{
    margin: 70px auto;
    display: flex;
    gap: 40px;
}
.about__image{
    position: relative;
    padding: 30px 0px 0px 30px
}
.about__image::after{
    content: "";
    position: absolute;
    left: -15px;
    top: -15px;
    width: 427px;
    height: 646px;
    border: 2px solid #063796;
    z-index: -1;
}
.about__text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about__title{
    margin-top: 30px;
}
.about__description{
    font-size: 24px;
    line-height: 28px;
    color: #777777;
}
.about__instagram{
    display: flex;
    gap: 10px;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #063796;
    fill: #063796;
}
.about__icon{
    width: 30px;
    height: 30px;
}
.about__instagram:hover{
    color: grey;
    fill: grey;
    transition: 0.3s;
}


/* Партнерство */
.partnership__container{
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.partnership__list{
    display: flex;
    gap: 66px;
}
.partnership__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #EDF6FF;
}
.partnership__button{
    margin: 0 auto;
    width: 300px;
}
.parneritem__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #545454;
}
.parneritem__subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}
.parneritem__image{
    margin: auto -30px -30px auto;
}


/* Контакты */
.contacts{
    margin: 70px auto 0px auto;
    background: linear-gradient(to right, #EDF6FF 45%, #fff 45%);
}
.contacts__container{
    display: flex;
    gap: 200px;
}
.contacts__text{
    position: relative;
    padding: 70px 0px 50px 10px;
    max-width: 370px;
}
.contacts__text::after{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 65px;
    height: 65px;
    background-color: #063796;
}
.contacts__title{
    color: #545454;
}
.contacts__description{
    margin-top: 10px;
    font-size: 24px;
    line-height: 28px;
    color: #777777;
}
.contacts__button{
    margin-top: 50px;
}
.contacts__instagram{
    margin-top: 20px;
}
.social__buttons{

}
.social__buttons{
    background-color: #fff;
    color: #063796;
    border: 1px solid #063796;
}
.social__buttons:hover{
    background-color: #063796;
    color: #fff;
    border: none;
    transition: 0.2s;
}
.social{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Подвал */
.footer{
    background-color: #EDF6FF;
    padding: 30px;
    border: 1px solid #063796;
}
.footer__container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}